footer {
  border-top: $base-border;
  margin: $nav-spacing-bottom*1.5 0 2em 0;
  padding-top: 2em;
  text-align: center;

  ul {
    display: inline-block;

    li {
      display: inline-block;
      margin: 0 0.5em;
    }
  }
}