.header {
  background-color: rgb(122, 122, 122);
  background-image: url(/images/background.jpg);
  background-attachment: fixed;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-size: auto;
  @include margin(null auto);

  nav {
    @include outer-container;
    @include padding($nav-padding-top $outer-padding $nav-padding-bottom $outer-padding);
    margin-bottom: $nav-spacing-bottom;
    text-align :center;

    @include media($medium-screen-up) {
      text-align: left;
      ul {
        display: inline-block;

        &.nav-items {
          float: right;
        }
      }
    }

    ul {
      &.nav-items {
        li {
          display: inline-block;
          margin-left: $nav-item-spacing;
        }
      }
    }
  }
}
