body {
  margin: 0;
}

#main {
  @include outer-container;
  @include padding(null $outer-padding);
}

.half-column {
  @include span-columns(6 of 12);
}

article {
  @include clearfix;

  &:not(:first-of-type) {
    margin-top: $article-spacing;
  }

  pre {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  img {
    display:block;
    margin: $image-spacing auto;
  }
}

$arrow-width: 1.45em;

.article-nav {
  text-align: center;
  margin: ($base-spacing * 2) 0 ($base-spacing * 1.5) 0;
  @include clearfix;

  ul {
    display: block;
    margin: 0 auto;

    li {
      @include margin(em(5) null);

      @include media($medium-screen-up) {
        @include span-columns(6 of 12);
      }

      .arrow {
        width: $arrow-width;
      }

      .title {
        @include clearfix;
      }

      &.next {
        text-align: left;
        padding-right: .5em;

        .title {
          margin-left: $arrow-width;
        }

        .arrow {
          float: left;
          text-align: right;
          @include transform(rotateY(180deg));
        }

      }

      &.previous {
        text-align: right;
        padding-left: .5em;

        .title {
          margin-right: $arrow-width;
        }

        .arrow {
          float: right;
        }
      }
    }
  }
}