body {
  margin: 0;
}

#main {
    @include outer-container;
}

.large-column {
  @include span-columns(8 of 12);
}

.small-column {
  @include span-columns(4 of 12);
}

article {
  &:not(:first-of-type) {
    margin-top: $article-spacing;
  }

  pre {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  img {
    display:block;
    margin: $image-spacing auto;
  }
}

.article-nav {
  text-align: center;
  margin: ($base-spacing * 2) 0 ($base-spacing * 1.5) 0;

  ul {
    display: inline-block;
    margin: 0 auto;

    li {
      display: inline-block;
      margin: 0 0.5em;
    }
  }
}