body {
  margin: 0;
}

#main {
    @include outer-container;
}

.large-column {
  @include span-columns(8 of 12);
}

.small-column {
  @include span-columns(4 of 12);
}

.article {
  margin-bottom: $article-spacing;

  pre {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  img {
    display:block;
    margin: $image-spacing auto;
  }
}

ol {
  font-size: 1em;
  font-weight: 500;

  li {
    margin: .5em 0;

    span {
      display: inline-block;

      &:before {
        content: '/';
        margin: 0 .3em;
      }
    }
  }
}