nav {
  @include outer-container;
//  background-color: $base-accent-color;
  padding-top: $nav-spacing-top;
  margin-bottom: $nav-spacing-bottom;

  ul {
    display: inline-block;

    &.nav-items {
      float: right;
      li {
        display: inline-block;
        margin-left: $nav-item-spacing;
      }
    }
  }
}

