<div class="header">
    <nav>
        <ul class="title">
            <li>
                <%= link_to "Florian Kugler", "index.html", :class => 'blog-title' %>
            </li>
        </ul>
        <ul class="nav-items">
            <li>
                <%= link_to "About", "index.html" %>
            </li>
            <li>
                <%= link_to "Archive", "/archive.html" %>
            </li>
            <li>
                <%= link_to "Projects", "index.html" %>
            </li>
        </ul>
    </nav>
</div>
