body {
  -webkit-font-smoothing: antialiased;
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font-family;
  line-height: $header-line-height;
  font-weight: bold;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
  letter-spacing: -0.025em;
  margin: ($base-spacing * $header-spacing-factor-top) 0 ($base-spacing * $header-spacing-factor-bottom) 0;
  color: $base-accent-color;

  a {
    text-decoration: none;
  }

  &:first-child {
    margin-bottom: $title-date-spacing;
  }
}

h5,
h6 {
  font-weight: normal;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

p {
  margin: 0 0 ($base-spacing / 2);
}

a {
  @include transition(color 0.1s linear);
  color: $base-link-color;
  text-decoration: underline;

  &:hover {
    color: $hover-link-color;
  }

  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

pre,
code {
  font-family: $mono;
  font-size: $mono-font-size;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

blockquote,
pre {
  margin: ($base-spacing / 2) 0;
}

pre {
  border-left: 2px solid $base-border-color;
  padding-left: $base-spacing / 2;
}

blockquote {
  padding: 0 em(20);
  font-style: italic;
  color: lighten($base-font-color, 25);
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &:before {
    content: "\2014 \00A0";
  }
}

.article {
  .date {
    font-family: $sans-serif;
    font-weight: normal;
    color: $medium-gray;
  }

  & > p:first-of-type {
    content: " ";
    margin-top: $h1-font-size * $base-line-height * $base-spacing-factor * $header-spacing-factor-top;
  }

  ul {
    @extend %default-ul;
  }

  ol {
    @extend %default-ol;
  }
}

nav {
  li {
    font-family: $sans-serif;
    font-size: $h5-font-size;
  }

  .blog-title {
    color: $site-title-color;
  }

  a {
    color: $medium-gray;
    text-decoration: none;
  }
}

