<% wrap_layout :layout do %>

<%= partial "partials/article", :locals => { :article => current_article, :content => "partials/article_body" } %>

<div class="article-nav">
    <ul>
        <li class="next">
            <% if current_article.next_article %>
                <%= link_to "<div class=\"arrow\">➜</div><div class=\"title\">#{current_article.next_article.title}</div>", current_article.next_article.url %>
            <% else %>
                &nbsp;
            <% end %>
        </li>
        <li class="previous">
            <% if current_article.previous_article %>
                <%= link_to "<div class=\"arrow\">➜</div><div class=\"title\">#{current_article.previous_article.title}</div>", current_article.previous_article.url %>
            <% else %>
                &nbsp;
            <% end %>
        </li>
    </ul>
</div>

<% end %>